div.full-screen {
    height: 100vh;
    width: 100vw;
    position: relative;
}

div.bg-full-screen {
    position: absolute;
    overflow: hidden;
    height:100vh;
    width: 100vw;
    z-index: -1;
}

div.bg-full-screen:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 2;
    pointer-events: none;
    content: '';
}

div.bg-full-screen:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/dotted_patern.png);
    background-repeat: repeat;
    z-index: 3;
    pointer-events: none;
}

#background_video{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
    background: #000;
}

header.transparent-bg {
    background: transparent;
}

header.transparent-bg a {
    color:white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color:white;
    background: none;
}

footer:before, footer:after {
    display: none;
}

main h2 {
    color:white;
    font-size:85px;
    font-family: 'Lobster', cursive;
    margin: 40px auto;
}

.tab .nav-tabs{
    border-bottom-color: #f0f0f0;
}
.tab .nav-tabs li{
    margin-bottom: 0;
}
.tab .nav-tabs li a{
    font-size: 11px;
    color: #222;
    background: #fff;
    border-radius: 0;
    padding: 15px;
    margin-right: 0;
    border: none;

    border-left: 1px solid #f0f0f0;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}
.tab .nav-tabs li:last-child a,
.tab .nav-tabs li:last-child.active a{
    border-right: 1px solid #f0f0f0 !important;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
    border: none;
    border-left: 1px solid #f0f0f0;
    color: #666;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:before{
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 4px solid #0091a0;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li.active a:hover:before{

    opacity: 1;
}
.tab .nav-tabs li a:hover:before{

    opacity: 1;
}
.tab .nav-tabs li.active a:after,
.tab .nav-tabs li a:after{
    content: "";
    position: absolute;
    top: 2px;
    left: 45%;
    border: 7px solid transparent;
    border-top: 7px solid #0091a0;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.tab .nav-tabs li.active a:after,
.tab .nav-tabs li a:hover:after{

    opacity: 1;
}
.tab .tab-content{
    font-size: 14px;
    color: #999;
    line-height: 25px;
    padding: 40px 20px;
    border: 1px solid #f0f0f0;
    border-top: none;
    background: white;
    position: relative;
}

.tab .tab-content:after {
    content: '';
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

.tab .tab-content button[type=submit] {
    width: 100%;
}

footer .row {
    border-top:none !important;
    padding: 0;
}

main {
    margin-bottom:0 !important;
}